/* 불러오라 */
@import './font.css'; 
/* 불러오라 */
@import './reset.css'; 
/* 불러오라 */
@import './common.css'; 


body{
    margin: 0 auto;
}


/* 헤더영역  (O)*/
.header{
    position: fixed; top: 0;left: 0;
     width: 100%; z-index: 10;
    transition: background 0.3s;
    padding: 0 20px;
    color: #fff;
}

.header .group-flex{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 112px;
    transition: height 0.3s;
}

.header .logo-area {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;left: 20px;
    height: 100%;
}
.header .logo-area .logo {
    max-width: 200px;
}
.header .logo-area .logo a {}
.header .logo-area .logo img {
    filter: invert(100%);
}

.header .util-area{
    position: absolute;
    top: 0;right: 20px;
    height: 100%;
    font-weight: 600;
}


.gnb{
    /* position: relative; */
    height: 100%;
}
.gnb .nav-list {
    height: 100%;
    display: flex;
}
.gnb .nav-item{
    font-size: 20px;
    padding: 0 16px;
}
.gnb .nav-item .nav{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 3;
    font-weight: 600;
}
.gnb .nav-item .nav::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    transform: scaleX(0);
    transition: 0.3s;
}
.gnb .nav-item:hover .nav::before{
    transform: scaleX(1);
}
.gnb .nav-item .img-box.blender{
    position: relative;
}
.gnb .nav-item.hover::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #FF630C;
    right: 42%;
    top: 41%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: block;
}

.gnb .sub{
    display: none;
    position: absolute;
    width: calc(100% + 160px);
    top: 100%;
    /* left: -450px; */
    left: 0;
    width: 100%;
    background: #000;
}
.gnb .sub.on{
    display: block;
}
.gnb .sub .content{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    padding: 60px 0;
    background: #000;
}

.gnb .sub .con{
    flex: 1;
    padding: 4px 20px;
}
.gnb .sub .con .title{
    display: block;
    margin-bottom: 40px;
}
.gnb .sub .sub-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.gnb .sub .sub-list a{
    display: flex;
    gap: 20px;
}
.gnb .sub .name .eng{
    margin-bottom: 5px;
}
.gnb .sub .sub-list li:hover{
    display: block;
    color: #996666;
    transition: 0.3s;
}
.gnb .sub .sub-list li:hover img { 
    filter: opacity(0.5) drop-shadow(0 0 0 #f00);
    transition: 0.3s;}

.header .util-area{
}
.header .util-area svg *{
    stroke: #fff;
}

.header .util-area .register-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}
.header .util-area .register-icon .text-box{
align-items: center;
}

.header .util-area .mypage{}
.header .util-area .mypage ul{
    display: none;
}

/* 헤더 스크롤내일때 효과 */
.header.down{ background: #fff; color: #000;}
.header.down .group-flex{ height: 75px; }
.header.down .logo-area .logo img { filter: invert(0%); }
.header.down .util-area svg *{stroke: #000;}
.header.down .nav-item .nav::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000;
    content: '';
    transform: scaleX(0);
    transition: 0.3s;
}
.header.down:hover .nav::before{
    transform: scaleX(1);
}

/* 헤더 메뉴올릴때 */
.header.dark{ background: #000; color: #fff; }
.header.dark .logo-area .logo img { filter: invert(1000%); }
.header.dark .util-area svg *{stroke: #fff;}


/* 푸터 영역 */
.footer{
    margin-top: 302px;
    padding-top: 150px;
    background-color: #1a1a1a;
}
/* register 영역 +푸터 로고 영역 +푸터 nav 영역 */
.footer .inner {
}

/* register 영역 */
.sc-register{
    margin: 0 auto;
}

.sc-register .register-list{
    max-width: 1426px;
    margin: 0 auto;
    display: flex;
    gap: 26px;
}
.sc-register a{
    display: flex;
    flex-direction: column;
}

.sc-register .register-item.active{
    background: #2E2E2E url(../img/register_bg.svg) no-repeat center 100%/cover !important;
}
.register-item.active .text-box{
    width: 100%;
    text-align: center;
    color: #fff;
}
.register-item.active .title{
    width: 100%;
    font-size: 27px;
    font-weight: 800;
    color: #fff;
}
.register-item.active .desc{
    width: 100%;
    margin-top: 23px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 20px;
}


.sc-register .register-item{
    position: relative;
    width: 330px;
    height: 330px;
    background: #fff;
    border-radius: 30px;
}

.sc-register .register-item .text-box{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sc-register .register-item .text-box img{
    margin: 0 auto;
    margin-bottom: 13px;
}
.sc-register .register-item .text-box em{
    font-size: 19px;
    display: block;
    font-weight: 800;
    color: #725934;
}
.sc-register .register-item .text-box strong{

    color: #000;
    font-size: 27px;
    font-weight: 800;
    margin-top: 4px;
}
.sc-register .register-item .text-box p{
    margin-top: 23px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 20px;
}
.sc-register .register-item .store{
    color: #777;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.sc-register .register-item .as{
    font-size: 19px;
    display: block;
    font-weight: 800;
    color: #7777;
}
.sc-register .register-item .tel{
    margin-top: 12px;
    color: #000;
    font-size: 38px;
    font-weight: 800;
    margin-top: 4px;
}
.sc-register .register-item .time{
    margin-top: 12px;
    font-size: 19px;
    display: block;
    font-weight: 800;
    color: #725934;
}

/*  footer logo 영역 (box9) (O)*/
.sc-logo{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    background: #fff;
    height: 200px;
    border-bottom: 1px solid #ccc;
}
.sc-logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer gnb 영역  */
.sc-gnb{
    margin: 0 auto;
    background: #1a1a1a;
    padding: 100px 0;
}
.sc-gnb .nav-list{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.sc-gnb .nav-item{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.sc-gnb .sub-list{
    margin-top: 70px;
}
.sc-gnb .sub-list li{
    color: #858585;
    font-weight: 200;
    padding: 5px 0;
    font-size: 15px;
}

/* footer address 영역 */

.sc-address{
    background: #111;
    width: 100%;
    padding: 90px 0 100px;

}
.sc-address .inner{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sc-address .title{
    font-size: 17px;
    display: block;
    color: #777;
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px;
}

.sc-address .address{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
}
.sc-address span{
    display: block;
    padding-top: 40px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #8a8a8a;
}
.sc-address .sns-box{
    display: flex;
    
}
.sc-address .sns .img{
    display: flex;
    gap: 15px;
}
.sc-address .bar{
    width: 1px;
    height: 14px;
    background: #757575;
    margin: 0 10px;
    display: inline-block;
    content: "";
}

